* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    body {
      max-width: 1440;
      width: 100%;
    
    }
    
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.1% 0.7%;
      border: 1px solid #155EEF;
      border-radius: 6px;
      margin: 1% 2%;
    }
    
    .logo {
      width: 70%;
    }
    
    header .logo .tjp {
      width: 60%;
    
    }
    
    nav {
      display: flex;
      width: 35%;
      justify-content: space-between;
      align-items: center;
    
    }
    header .hamb{
      display: none;
    }
    
    header nav a {
      text-decoration: none;
      font-size: 20px;
      text-decoration: none;
      font-family: "Halant";
      font-style: normal;
      font-weight: 500;
      color: #041330;
      text-decoration: none;
    }
    
    header nav .but {
      width: 30%;
      border-collapse: collapse;
    }
    
    header nav .nav-but {
      width: 70%;
      padding: 5% 0;
      background-color: transparent;
      border: 1px solid #155EEF;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      border-radius: 8px;
      color: #155eef;
      background-color: none;
      letter-spacing: 0.5px;
    
    }

    .nav1{
      display: none;
    }
    
    .hero {
      padding: 2%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F9FBFF;
      border: 1px solid #155EEF;
      border-radius: 6px;
      margin: 0 2%;
    
    }
    
    .hero .name-info {
      width: 55%;
    }
    
    .teal {
      width: 45%;
      display: flex;
      justify-content: flex-end;
    }
    
    .hero .teal .img-teal {
      width: 80%;
    }
    
    .name-info h3 {
      color: #2E3A53;
      font-size: 24px;
      font-family: "Halant";
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.50px;
      word-wrap: break-word;
    }
    
    .hero .name-info .sam {
      color: #155EEF;
      font-size: 40px;
      font-family: "Halant";
      font-weight: 600;
      line-height: 67.20px;
      word-wrap: break-word
    }
    
    .hero .hero-text {
    
      color: #2E3A53;
      font-size: 22px;
      font-family: "Manrope";
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0.50px;
      word-wrap: break-word;
      width: 86%;
      padding: 5% 0;
    
    }
    
    main .hero .name-info .hero-but{
      width: 100%;
    }
    
    main .hero .name-info .hero-but .hero-button {
    
      color: white;
      font-size: 16px;
      font-family: "Manrope";
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.50px;
      word-wrap: break-word;
      background-color: #155EEF;
      border: 1px solid #155EEF;
      border-radius: 6px;
      width: 20%;
      padding: 0.6% 0;
    
    }
    
    .about {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2%;
      border: 1px solid #155EEF;
      border-radius: 6px;
      margin: 3% 2%;
    }
    
    .about .pix {
      width: 40%;
      padding: 1.5% 1.3%;
    
    }
    
    .about .pix .about-img {
      width: 88%;
      border: 1px solid #155EEF;
      padding: 0.3%;
    }
    
    .about-me {
      width: 56%;
      padding: 8% 0;
    }
    
    .about .about-h2 {
      color: #041330;
      font-size: 40px;
      font-family: "Halant";
      font-weight: 600;
      line-height: 48px;
      word-wrap: break-word;
      margin-bottom: 2%;
    }
    
    
    .about .about-me .about-p {
      width: 70%;
      text-align: justify;
      color: #2E3A53;
      font-size: 20px;
      font-family: "Manrope";
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.50px;
      word-wrap: break-word;
    }
    
    .project{
      padding: 2% 2% 7% 2%;
      border: 1px solid #155EEF;
      border-radius: 6px;
      display: flex;
      position: relative;
      justify-content: flex-end;
      margin: 3% 2%;
      
     
    }
    
    .project .text {
      background-color: #F9FBFF;
      position: absolute;
      width: 45%;
      left: 10%;
      top: -10%;
      z-index: 2;
      margin: 5% 0;
     
    }
    
    .project .text .p {
      color: #041330;
      font-size: 35px;
      font-family: "Halant";
      font-weight: 600;
      line-height: 48px;
      /* padding: 4%; */
      word-wrap: break-word;
    }
    
    .project .list {
      margin: 2% 0 2% 8%;
      text-align: left;
      width: 70%;
    }
    
    .project .desc,
    .desc-1 {
      color: #2E3A53;
      font-size: 18px;
      font-family: "Manrope";
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.50px;
      word-wrap: break-word;
      text-align: left;
      width: 82%;
    }
    
    .desc-1{
      margin-top: 2%;
    }
    
    .project .list ul li {
      color: #2E3A53;
      font-size: 19px;
      font-family: "Manrope";
      font-weight: 400;
      line-height: 28.80px;
      width: 100%;
    }
    
    .proj-img{
      width: 40%;
      position: relative;
      display: flex;
      right: 10%;
      top: 80%;
      
      
    }
    
    .img-proj{
      position: relative;
      width: 100%;
      top: 15%;
    }
    
    footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5% 1.3%;
      border: 1px solid #155EEF;
      border-radius: 6px;
      margin: 0 2% 1% 2%;
    }
    
    footer .solo .logo{
      width: 60%;
    }
    
    footer .solo .logo .cr-img{
      width: 100%;
    }
    
    footer .solo .social{
      display: flex;
      width: 25%;
      justify-content: space-between;
    }
    
    .solo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
    }
    
    footer .trademark{
      width: 40%;
      display: flex;
      justify-content: flex-end;
    }
    
    @media screen and (max-width: 425px) {

      .logo .tjp{
        width: 100%;
      }
    
      header{
        padding: 1% 2% 0 ;
      }
      
      nav1{
        display: none;
      }

      nav{
        display: none;
      }

      nav1.visible{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #041330;
      }

      nav1 a{
        color: #041330;
        font-size: 30px;
        font-family: Halant;
        font-weight: 600;
        line-height: 24px;
        word-wrap: break-word;
        padding: 10%;
        text-decoration: none;
        padding-bottom: 15%;
      }

  
    
      header .hamb{
        display: inline ;
      }
    
      header > .logo{
        width: 70%;
      }
    
      header .logo .tjp{
        width: 100%;
      }
      main{
        width: 100%;
      }
    
      main .hero{
        display: flex;
        flex-direction: column;
      }
    
      main .hero .name-info{
        width: 100%;
      }
    
       .name-info .sam{
        text-align: center;
        font-size: 30px !important;
       }
    
       main .hero .name-info h3{
        width: 100%;
        text-align: center;
       }
      main .hero .name-info .hero-text{
        width: 100% !important;
        font-size: 15px;
        text-align: center;
        letter-spacing: 0;
        line-height: 24px;
        color: #2E3A53;
        font-weight: 500px;
        
      }
    
      main .hero .name-info .hero-button{
        width: 95% !important;
        font-size: 10;
        word-break: normal;
        padding: 90% ;
        
    
      }
    
      main .hero .name-info .hero-but{
        width: 100% !important;
        text-align: center;
        margin: 4% 0;
    
      }
    
      .teal {
        width: 100% !important;
        justify-content: center;
        flex: none;
      }
      .teal .img-teal{
        width: 100% !important;
      }

      .img-proj {

        display: none;
      }
    
      main .about{
        display: flex;
        flex-direction: column-reverse;
    
      }
    
      main .about .about-me{
        width: 100%;
      }
    
    
      .about .about-me .about-h2{
        font-size: 19px;
        text-align: center;
      }
    
      main .about .about-me .about-p{
        font-size: 14px;
        width: 100%;
        text-align: center;
      }
    
      main .about .pix{
        width: 100%;
      }
    
      main .about .pix .about-img{
        width: 100%;
      }
    
      main .project{
        display: flex;
        flex-direction: column;
        
      }
    
      main .project .proj-img{
        display: none;
      }
    
    
      main .project .text{
        /* position: unset; */
        width: 100% !important;
        text-align: center;
      }
    
      main .project .text .desc, .desc-1 {
        width: 100%;
        padding: 0;
        margin: 0;
      }
    
      
      main .project .text .list{
        width: 95%;
        margin-bottom: 0.7%;
    
      }
    
      footer{
        display: flex;
        flex-direction: column;
        
        
      }
    
      footer .solo{
        /* display: flex; */
        margin-bottom: 2%;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        
      }
    
      footer .solo .logo{
        width: 70%;
      }
    
      footer .solo .logo .cr-img{
        width: 100%;
      }
    
      footer .solo .social{
        width: 30%;
        display: flex;
        justify-content: space-around;
    
    
      }
    
      footer .solo .social .fit{
        width: 100%;
      }
    
      footer .solo .social .fit .fti{
        /* width: 100%; */
      }
    
      footer .trademark{
        width: 100% ;
        
      }
    
      footer .trademark .cr{
        text-align: center;
        width: 100% ;
        color: #041330;
        font-size: 15.96px;
        font-family: Manrope;
        font-weight: 800;
        text-transform: uppercase;
    
      }

    }

    @media screen and (max-width: 768px) {

      header{
        padding:1.3% 3%;
      }
      
      header nav{
        justify-content: space-between;
        width: 50%;
        gap: 20%;
      }

      header .logo{
        width: 50%;
      }

      header .logo .tjp{
        width: 100%;
      }

        header nav .but{
          width: 100%;
        }

        header nav .but .nav-but{
          width: 80%;
        }

        .nav1{
          display: none;
        }

        main .project{
          position: static;
          padding: 0.9%;
          margin: 2%;
        }

        main .project .text{
          width: 60%;
          position: inherit;
          margin: 0;
          padding: 0;

        }

        main .project .text .desc,.desc-1, .list{
          line-height: 30px;
        }

        main .project .proj-img{
          position: unset;
          width: 48%;
          flex: none;
          display: block;

        }

        main .project .proj-img .img-proj{
         /* position: unset; */
          /* width: 50%; */
          /* flex: none; */
        }

        main .hero .name-info .hero-but .hero-button{
          width: 80%;
        }

        .hero .hero-text {
          padding: 0;
          letter-spacing: 0;
          font-size: 19px;
          width: 80%;
        }
        .hero .name-info .sam{
          font-size: 30px;

      
        }

        .teal{
          width: 50%;

        }

        .about .pix{
          width: 47%;
        }

        .about .pix .about-img {
          width: 100%;
        }

        .about .about-h2{
          font-size: 35px;
          text-align: center;
        }

        .about-me{
          width: 50%;
        }

        .about .about-me .about-p {
          width: 100%;
          font-size: 18px;
          letter-spacing: 0;

        }

        .project .text{
          width: 50%;
        }

        .project .desc, .desc-1{
          width: 98%;
        }

        .project .list{
          width: 90%;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* header { */
    display: flex;
    border: 2px solid #155eef;
    border-radius: 8px;
    justify-content: space-between;
    /* width: 100%; */
    align-content: center;
    margin: 0.6% 4.9% 1.2% 4.9%;
    padding: 0.76% 2.4%;
    gap: 40%;
    }
    
    /* .logo { */
    width: 50%;
    align-content: center;
    }
    
    /* .logo .tjp { */
    }
    
    /* header .nav { */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    }
    
    /* header .nav a { */
    font-size: 24px;
    text-decoration: none;
    font-family: "Halant";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #041330;
    text-decoration: none;
    }
    
    
    /* .but{ */
    width: 30%;
    }
    
    /* .nav .nav-but { */
    width: 100%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 15% 5%;
    border: 1px solid #155eef;
    border-radius: 8px;
    color: #155eef;
    background-color: none;
    letter-spacing: 0.5px;
    background: none;
    text-align: center;
    }
    
    /* .hero { */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155eef;
    border-radius: 8px;
    margin: 1.2% 4.9%;
    background-color: #f9fbff;
    gap: 100px;
    }
    
    /* .hero .name-info { */
    width: 50%;
    margin: 11.3% 4.8% 11.3% 2.4%;
    }
    
    /* .hero .teal { */
    width: 50%;
    padding: 5% 7% 5% 0;
    }
    
    /* .img-teal { */
    width: 100%;
    }
    
    /* .hero .name-info small { */
    font-family: "Halant";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #2e3a53;
    }
    
    /* .hero .name-info .sam { */
    font-family: "Halant";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: #155eef;
    }
    
    /* .hero .name-info .hero-text { */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.5px;
    /* width: 100%; */
    }
    
    /* .hero-button { */
    margin-top: 20px;
    background: #155eef;
    border-radius: 8px;
    border-color: #155eef;
    padding: 10px 42px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    }
    
    /* .about { */
    display: flex;
    justify-content: space-between;
    padding: 4.9% 2.4%;
    margin: 1.2% 4.9%;
    align-items: center;
    border: 2px solid #155eef;
    border-radius: 8px;
    gap: 10%;
    }
    
    /* .pix { */
    width: 50%;
    border-width: 1px 0px 1px 1px;
    border: 2px solid #155eef;
    padding: 0.2% 0.2% 0.3% 0.3%;
    }
    
    /* .about-img { */
    width: 100%;
    }
    
    /* .about-me { */
    width: 50%;
    }
    
    /* .about-h2 { */
    font-family: "Halant";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #041330;
    margin-bottom: 24px;
    }
    
    /* .about .about-me .about-p { */
    width: 83%;
    height: 216px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: 0.5px;
    color: #2e3a53;
    }
    
    /* .project { */
    padding: 1.4% 1%;
    margin: 0% 4.9%;
    border: 2px solid #155eef;
    border-radius: 8px;
    position: relative;
    }
    
    /* .proj-sect { */
    display: flex;
    position: relative;
    padding-bottom: 5%;
    width: 100%;
    justify-content: space-between;
    }
    
    /* .project .text { */
    position: relative;
    left: 100px;
    background-color: #f9fbff;
    width: 46%;
    padding: 1% 3%;
    margin-bottom: 7%;
    z-index: 2;
    }
    
    /* .p { */
    color: #041330;
    font-size: 40px;
    font-family: Halant;
    font-weight: 600;
    line-height: 53px;
    word-wrap: break-word;
    margin: 1% 0;
    }
    
    .desc,
    .desc-1,
    /* .list { */
    color: #2e3a53;
    font-size: 24px;
    font-family: Manrope;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    text-align: justify;
    }
    
    /* .desc { */
    width: 90%;
    }
    
    /* .desc-1 { */
    width: 87%;
    }
    
    /* .list { */
    position: relative;
    left: 50px;
    width: 75%;
    margin: 3% 0;
    }
    
    /* .proj-img { */
    width: 52%;
    isolation: isolate;
    position: relative;
    right: 70px;
    top: 80px;
    }
    
    /* .img-proj { */
    width: 100%;
    }
    
    /* .footer { */
    display: flex;
    justify-content: space-between;
    margin: 1.2% 4.9%;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 0.7% 0.6%;
    align-items: center;
    }
    
    .logo,
    .social,
    /* .trademark { */
    width: 33.33%;
    }
    
    /* .social { */
    display: flex;
    gap: 7%;
    justify-content: center;
    }
    
    /* .social .fit { */
    width: 5%;
    }
    
    /* .trademark { */
    display: flex;
    justify-content: flex-end;
    }
    
    /* .trademark .cr { */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #041330;
    }